@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

/* # é id */
/* . é classe */

/* textos */
p.texto1 {
    font-family: 'Rajdhani', sans-serif;
    color: black;
    justify-content: center;
    font-size: 17px;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 22px;
}

p.titulo-texto {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    font-size: 18px;
}

/* textos */



/* responsivo até 720px */
@media(max-width: 720px) {

    /* loading */
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0b930b;
    }

    .par {
        position: absolute;
        top: 50%;
        width: 25%;
        color: black;
        text-align: center;
        font-weight: bold;
        background-color: #f2f2f2;
        font-size: 13px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        border-radius: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* loading */


    nav {
        display: none;
    }

    .ul-responsivo {
        display: table;
        text-align: center;
        margin-top: 50px;
    }

    .menu {
        font-size: 20px;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p.texto1 {
        padding: 0 10px 0 10px;
    }
}

/* responsivo até 720px */



/* responsivo acima de 721px */
@media(min-width: 721px) {

    /* loading */
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0b930b;
    }

    .par {
        position: absolute;
        top: 50%;
        width: 15%;
        color: black;
        text-align: center;
        font-weight: bold;
        background-color: #f2f2f2;
        font-size: 13px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        border-radius: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* loading */



    .pagina {
        padding: 0 7px 0 7px;
        list-style: none;
        text-decoration: none;
    }

    .ul-responsivo {
        display: none;
    }
}

/* responsivo acima de 721px */